.conway-btn {
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 6px 18px;
}

.step-btn {
    background-color: #04AA6D;
}

.run-btn {
    background-color: yellow;
}

.stop-btn {
    background-color: red;
}

.random-btn {
    background-color: aquamarine;
}

.interval-increment-btn {
    background-color: chartreuse;
}

.interval-decrement-btn {
    background-color: chartreuse;
}